{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des articles</h1>
    
    This friendly message is coming from:
    <ul>
       {% for post in posts %}
            <li>{{ post.title }}</li>
       {% endfor %}
    </ul>
</div>
{% endblock %}
